$button-size: 40px;
.pause-button-container {
    height: $button-size;
    width: $button-size;
    border-radius: 50%;
    background: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .bar {
        height: 16px;
        width: 4px;
        margin: auto 2px;
        background-color: black;
    }
}
