.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto 50px;
    grid-template-areas:
        'header-1 body-2'
        'body-1 body-2'
        'footer footer';

    /* TESTING */
    background-color: black;
}

.playlists-grid-header {
    grid-area: header-2;
}
.playlists-grid-body {
    grid-area: body-2;
    overflow-y: hidden;
}

/* songs layout */
.songs-grid-header {
    grid-area: header-1;

    background-color: black;
}
.songs-grid-body {
    grid-area: body-1;
    overflow-y: scroll;
    direction: rtl;
    background-color: rgb(20, 20, 20);
}

.player-grid-body {
    grid-area: footer;
    background-color: darkblue;
}
