@import '../resources/theme.scss';

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto 55px;
    grid-template-areas:
        'header-1 body-2'
        'body-1 body-2'
        'footer footer';

    /* TESTING */
    background-color: $background;
}

.playlists-grid-body {
    grid-area: body-2;
    overflow-y: hidden;
}

/* songs layout */
.songs-grid-header {
    grid-area: header-1;

    // background-color: $background;
    -webkit-app-region: drag;
    background-image: linear-gradient(black, $middle-ground);
}
.songs-grid-body {
    grid-area: body-1;
    overflow-y: scroll;
    direction: rtl;
    background-color: $middle-ground;
}

.player-grid-body {
    grid-area: footer;

    border-top: 1px solid $foreground;
}
