.player-grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: green;
    .player-song-grid-container {
        width: 500px;
        min-width: 250px;
        overflow: hidden;
        height: 100%;
    }
    .player-controls-grid-container {
        width: 500px;
        min-width: 200px;
        height: 100%;
        background-color: purple;
    }
    .player-settings-grid-container {
        width: 500px;
        min-width: 100px;
        height: 100%;
        background-color: pink;
    }
}
