.player-controls-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .player-controls {
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}
