@import '../../../resources/theme.scss';

.player-controls-container {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .player-controls {
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .player-controls > div {
        margin: 2px 2px;
    }
    .player-progress-bar {
        flex-grow: 1;
        margin: 20px;
    }
    .player-progress {
        font-size: $item-data-size;
    }
}
