@import '../../../resources/theme.scss';

.player-song-container {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    .player-song-image {
        margin: 2px 5px;
        height: 42px;
        width: 42px;
    }

    .player-song-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        .player-song-info {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .song-title {
            font-size: $item-title-size;
        }

        .song-artist {
            font-size: $item-description-size;
        }
    }
}
