.Song {
    display: grid;
    grid-template-columns: [index] 20px [image] 50px [info] auto [album] 100px [duration] 50px;
    gap: 5px;
    img {
        margin: 2px;
        height: 42px;
        width: 42px;
    }
    .song-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        min-width: 100px;
        .song-info {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .song-title {
            font-size: 14px;
        }

        .song-artists {
            font-size: 13px;
        }
    }
    .song-extra-info {
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .song-album-container {
        justify-content: start;
        .song-album {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .song-index {
        padding-right: 4px;
        font-size: 12px;
    }
}
