.play-button-container {
    $button-size: 40px;
    height: $button-size;
    width: $button-size;
    border-radius: 100%;
    background: white;
    .triangle {
        $triangle-size: 8px;
        margin: 12px 16px;
        width: 0;
        height: 0;
        border-top: $triangle-size solid transparent;
        border-bottom: $triangle-size solid transparent;
        border-left: #{$triangle-size * 1.5} solid black;
    }
}
